.card {
  display: inline-block;
  border: 2px dimgray solid;
  border-radius: 10px;
  margin: 15px;
  max-width: 50%;
}
img {
  max-width: 300px;
}

.text {
  padding: 5px;
}
.text p {
  padding: inherit;
}
.text h2 {
  padding: inherit;
}
