.Nav-Bar-Container {
  position: sticky;
  top: 0;
  width: 100%;
}

.Nav-Bar-Scroll {
  position: sticky;
  top: 0;
  width: 100%;
}

.Nav-Bar {
  z-index: 999;
  box-sizing: border-box;
  font: 100% Courier, monospace;
  background-color: rgba(11, 36, 61, 0.87);
  padding: 10px;
}
.Nav-Bar button {
  background-color: rgba(255, 255, 255, 0);
  color: #3190f2;
  enable-background: none;
  cursor: pointer;
  transition: 0.3s;
  font: inherit;
  border: 0;
  margin-right: 2.5px;
  margin-left: 2.5px;
  height: 2em;
}
.Nav-Bar .nav-button {
  display: block;
  width: 100%;
  line-height: 100%;
}
.Nav-Bar button:hover {
  background: rgba(49, 144, 242, 0.17);
}
.Nav-Bar h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 0;
  color: #3190f2;
  margin-bottom: 10px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.card {
  height: fit-content;
  background: #ededed;
  border: 0px dimgray solid;
  border-radius: 0px;
  margin: 15px;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card img {
  width: 100%;
}

.card:hover {
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
}

.text {
  flex-grow: 2;
  padding: 5px;
  width: auto;
}
.text p {
  padding: inherit;
}
.text h2 {
  padding: inherit;
}

.link {
  position: relative;
  text-align: center;
  width: 50%;
  height: 15em;
  background: #3190f2;
}
.link h2 {
  position: absolute;
  color: #ededed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.link:hover {
  opacity: 0.4;
}

.pic {
  flex-grow: 1;
}

.link-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
}
