.Nav-Bar-Container {
  position: sticky;
  top: 0;
  width: 100%;
}

.Nav-Bar-Scroll {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.Nav-Bar {
  z-index: 999;
  box-sizing: border-box;
  font: 100% Courier, monospace;
  background-color: rgba(11, 36, 61, 0.87);
  padding: 10px;
}
.Nav-Bar button {
  background-color: rgba(255, 255, 255, 0);
  color: #3190f2;
  enable-background: none;
  cursor: pointer;
  transition: 0.3s;
  font: inherit;
  border: 0;
  margin-right: 2.5px;
  margin-left: 2.5px;
  height: 2em;
}
.Nav-Bar .nav-button {
  display: block;
  width: 100%;
  line-height: 100%;
}
.Nav-Bar button:hover {
  background: rgba(49, 144, 242, 0.17);
}
.Nav-Bar h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 0;
  color: #3190f2;
  margin-bottom: 10px;
  text-decoration: none;
}

.active {
  background: rgba(49, 144, 242, 0.17) !important;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
