$font-stack: Courier, monospace;
$button-color: #3190f2;
$button-color-hover: #2a84d8;

.fa {
  text-align: center;
  text-decoration: none;
  font-size: 120%;
}

.fa-linkedin {
  background: $button-color;
}

.Nav-Bar-Container {
  position: sticky;
  top: 0;
  width:100%;
}

.Nav-Bar {
  box-sizing: border-box;
  font: 100% $font-stack;
  background-color: rgba(11, 36, 61, 0.87);
  padding: 10px;

  button {
    background-color: $button-color;
    cursor: pointer;
    transition: 0.3s;
    font: inherit;
    border: 0;
    margin-right: 2.5px;
    margin-left: 2.5px;
    height: 2em;
  }

  .nav-button {
    display: block;
    width: 100%;
    line-height: 100%;
  }
  button:hover {
    background-color: $button-color-hover;
  }
  h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: $button-color;
    margin-bottom: 10px;
  }
}