$font-stack: Courier, monospace;
$button-color: #3190f2;
$button-color-hover: #2a84d8;

.Nav-Bar-Container {
  position: sticky;
  top: 0;
  width:100%;
}

.Nav-Bar-Scroll {
  position: sticky;
  top: 0;
  width:100%;
}

.Nav-Bar {
  box-sizing: border-box;
  font: 100% $font-stack;
  background-color: rgba(11, 36, 61, 0.87);
  padding: 10px;

  button {
    background-color: rgba(255, 255, 255, 0);
    color: $button-color;
    enable-background: none;
    cursor: pointer;
    transition: 0.3s;
    font: inherit;
    border: 0;
    margin-right: 2.5px;
    margin-left: 2.5px;
    height: 2em;
  }

  .nav-button {
    display: block;
    width: 100%;
    line-height: 100%;
  }
  button:hover {
    background: rgba(49, 144, 242, 0.17);

  }
  h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: $button-color;
    margin-bottom: 10px;
    text-decoration: none;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}