.box {
  padding: 0 4px;
}

.row {
  display: flex;
  flex: 50%;
  width: 100%;
}
//
//.col {
//  flex: 50%;
//  padding: 0 4px;
//}
//
//.col img {
//  margin-top: 8px;
//  vertical-align: middle;
//}